---
---

@import "{{ site.theme }}";

$base-font-size: 20px;

@font-face {
  font-family: gtEesti; /* set name */
  src: url(gt-eesti-pro-display-regular.otf); /* url of the font */
}

.highlight .gi {
  color: #825aaa !important
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color:#825aaa !important
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
  color:#825aaa !important
}

.highlight .ss {
  color:#825aaa !important
}

header h1:before {
  content:"⊹ ࣪ ˖ ";
  font-size:24px
}



header {
  background:rgba(0,0,0,0.1);
  width:100%;
  border-bottom:1px dashed #9e54e8;
  padding:20px 0;
  margin:0 0 40px 0
}

header h1 {
  font-size:30px;
  line-height:1.5;
  margin:0 0 0 -55px;
  font-weight:bold;
  font-family: gtEesti, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#9e54e8;
  text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(158, 84, 232,0.1),0 0 10px rgba(158, 84, 232,0.1);
  letter-spacing:-0px;
  -webkit-font-smoothing:antialiased
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:normal;
  font-family: gtEesti, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:#9e54e8;
  text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(158, 84, 232,0.1),0 0 10px rgba(158, 84, 232,0.1);
  letter-spacing:0em;

}

body {
  margin:0;
  padding:0;
  background:#151515 url("../images/bkg.png") 0 0;
  color:#eaeaea;
  font-size:18px;
  line-height:1.5;
  font-family: gtEesti, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}
